/* !RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* !COMMON */
:root {
    --primary-clr: #B4D0E7;
    --secondary-clr: white;
    --tertiary-clr: black;
    --quaternary-clr: #0061FF;
    --quinary-clr: #E5E5E7;
    --max-width: 1080px;
}
body {
    max-width: var(--max-width);
    font-family: sans-serif;
}
img {
    max-width: 100%;
}
/* *background */
.bgazure {
    background-color: var(--primary-clr);
}
.bgwhite {
    background-color: var(--secondary-clr);
}
.bgblack {
    background-color: var(--tertiary-clr);
    color: var(--secondary-clr);
}
/*  *container*/
.large-container {
    width: 70%;
    margin: 0 auto;
}
.medium-container {
    width: 60%;
    margin: 0 auto 60px;
}
.full-border {
    border: 1px solid var(--quinary-clr);
}
.bottom-border{
    border-bottom: 1px solid var(--quinary-clr);
}
/* *Utilities */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.blue-button {
    background-color: var(--quaternary-clr);
    color: var(--secondary-clr);
    padding: .25rem .5rem;
}
.white-button{
    border: 1px solid black;
    color: black;
    padding: .25rem .5rem;
} 
.margin-fix {
    padding-top: 60px;
}
/* *Font */
h1 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2rem;
    font-weight: normal;
}
h4 {
    font-size: 1.125rem;
    font-weight: normal;
}
a, p , li{
    font-size: .8rem;
    font-weight: lighter;
}
.title {
    margin: 1em 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
i { 
    font-size: inherit;
}
/* *Debug */
.container-red {
    width: 70%;
    margin: 0 auto;
    border: 5px solid red;
    margin-top: 100px;
}
.container-blue {
    width: 60%;
    margin: 0 auto;
    border: 5px solid blue;
}
.container-green {
    width: 100%;
    margin: 0 auto;
    border: 5px solid green;
}
.container-pink {
    border: 3px dashed pink;
    /* padding: 1rem; */
}

/* !HEADER */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: var(--max-width);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 1.5px 0 1.5px 1.5px rgba(0, 0, 0, .3);
}
.menu * {
    gap: 1rem;
}
.menu > * {
    height: 2rem;
    align-items: center;
}
/* *Jumbotron */
header .bgazure {
    margin-bottom: -60px;
}
.jumbotron-left {
    width: 25%;
}
.jumbotron-left > * {
    margin-bottom: 1rem;
}
.jumbotron-left > a {
    display: inline-block;
}
.jumbotron-right {
    width: 75%;
}
/* !MAIN */
/*  container-blue top*/
.business-row {
    gap: 1rem;
}
.front-business > * {
    margin: 3em 0;
}
.payment span {
    margin-right: 3rem;
}
.business-row > .column {
    width: calc(100% / 3 - 2rem / 3);
}
.card {
    padding: 1rem;
}
.top-details > * ,
.description ul > * ,
.bot-details ul > * {
    margin-bottom: .5em;
}
.link-details p {
    margin-bottom: 1rem;
}
.level {
    padding: .5rem;
    text-align: center;
}
.divider {
    margin-left: 1rem;
    width: 5rem;
    border-bottom: 1px solid black;
}
.recap{
    font-weight: bold;
    margin: 1rem 0 .5rem;
}
.link-details .blue-button {
    text-align: center;
    display: block;
    margin-bottom: 1rem;
}
.bot-details ul{
    font-size: .8rem;
    font-weight: lighter;  
}
.end-business {
    margin-top: 1rem;
}
.team-left {
    width: 70%;
}
.team-right {
    width: 30%;
    text-align: end;
}
/* container-blue mid */
.partner.left {
    width: 60%;
}
.partner.right {
    width: 40%;
    padding: 1rem;
}
.partner.right > * {
    margin-bottom: 1rem;
}
/* container-blue six-packs */
.six-pack > * {
    width: calc(100% / 3);
    /* *Debug */
    height: 100px;
}
/* container-blue bot */
.clients
.clients a {
    color: indigo;
    text-decoration: underline;
}
/* container-green */
.container-green .container-pink {
    width: calc(100% / 3);
}
.photo {
    width: calc(100% / 2);
    /* Debug */
    border: 1px solid black;
    height: 50px;
}
.overflow {
    overflow-y: auto;
}
/* bgazure container-blue */
.blue-left {
    width: 60%;
}
.blue-right {
    width: 40%;
}
/* Debug */
.azure > * {
    border: 1px solid black;
    height: 100px;
}
/* container-blue faq */

/* !FOOTER */

/* Debug */
