/* !RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* !COMMON */
:root {
    --primary-clr: #B4D0E7;
    --secondary-clr: white;
    --tertiary-clr: black;
    --quaternary-clr: #0061FF;
    --quinary-clr: #E5E5E7;
    /* debug */
    --max-width: 1440px;
}
body {
    max-width: var(--max-width);
    font-family: sans-serif;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}
/* BACKGROUND */
.bgazure {
    background-color: var(--primary-clr);
}
.bgwhite {
    background-color: var(--secondary-clr);
}
.bgblack {
    background-color: var(--tertiary-clr);
    color: var(--secondary-clr);
}
/*  CONTAINER*/
.full-container {
    margin: 0 auto;
}
.large-container {
    width: 70%;
    margin: 0 auto;
}
.container {
    width: 60%;
    margin: 0 auto 60px;
}
.full-border {
    border: 1px solid var(--quinary-clr);
}
.bottom-border{
    border-bottom: 1px solid var(--quinary-clr);
}
/* UTILITIES */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.divider {
    margin-left: .5rem;
    width: 5rem;
    border-bottom: 1px solid black;
}
.blue-button {
    background-color: var(--quaternary-clr);
    color: var(--secondary-clr);
    padding: .25rem .5rem;
    text-decoration: none;
}
.white-button{
    border: 1px solid black;
    color: black;
    padding: .25rem .5rem;
    text-decoration: none;
} 
.cta-button {
    background-color: white;
    padding: .25rem .5rem;
    text-decoration: none;
}
.margin-fix {
    padding-top: 60px;
}
/* FONT */
h1 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2rem;
    font-weight: normal;
}
h4 {
    font-size: 1.125rem;
    font-weight: normal;
}
a, p , li{
    font-size: .8rem;
    font-weight: lighter;
}
.title {
    margin: 1em 0;
}
li {
    list-style: none;
}

i { 
    font-size: inherit;
}


/* !HEADER */
/* MENÙ */
header a {
    text-decoration: none;

}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: var(--max-width);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 1.5px 0 1.5px 1.5px rgba(0, 0, 0, .3);
}
.menu * {
    gap: 1rem;
}
.menu > * {
    height: 2rem;
    align-items: center;
}
/* JUMBOTRON */
header .bgazure {
    margin-bottom: -60px;
}
.jumbotron-left {
    width: 25%;
}
.jumbotron-left > * {
    margin-bottom: 1rem;
}
.jumbotron-left > a {
    display: inline-block;
}
.jumbotron-right {
    width: 75%;
}


/* !MAIN */
/*  PLANS SECTION*/
.front-business > * {
    margin: 3em 0;
}
.payment span {
    margin-right: 3rem;
}
.business-row {
    gap: 1rem;
    margin-bottom: 1rem;
}
.business-row > .column {
    width: calc(100% / 3 - 2rem / 3);
}
.card {
    padding: 1rem;
}
.top-details > * ,
.description ul > * ,
.bot-details ul > * {
    margin-bottom: .5em;
}
.link-details p {
    margin-bottom: 1rem;
}
.level {
    padding: .5rem;
    text-align: center;
}
.recap{
    font-weight: bold;
    margin: 1rem 0 .5rem;
}
.link-details .blue-button {
    text-align: center;
    display: block;
    margin-bottom: 1rem;
}
.bot-details ul{
    font-size: .8rem;
    font-weight: lighter;  
}
.team-left {
    width: 70%;
}
.team-right {
    width: 30%;
    text-align: end;
}
.li-user::before {
    content: '\f007';

}
/* PARTNER SECTION */
.partner .left {
    width: 60%;
}
.partner .right {
    width: 40%;
    padding: 1rem;
}
.partner.right > * {
    margin-bottom: 1rem;
}
/* OPERATIONS SECTION */
.six-pack {
    gap: 10px;
}
.six-pack > * {
    width: calc(100% / 3 - 20px / 3);
    margin-bottom: 20px;
}
/* LOGOS SECTION */
.full-container .logos-box {
    width: calc(100% / 3);
    height: 300px;
}
.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: calc(100% / 2);
    height: calc(100% / 2);
}
.photo img {
    filter: invert(1);
    width: 50%;
}
.overflow {
    background-color: #F5F5F5;
    padding: 1rem;
    overflow-y: auto;
}
.overflow img {
    width: 50%;
}
.overflow > * {
    margin-bottom: 1rem;
}
.designit {
    background-color: #A2D39B;
}
.arizona {
    background-color: #61082B;
}
.florida {
    background-color: #0093CE;
}
.topps {
    background-color: #FF1C1C;
}
.bicycle {
    background-color: #D5001F;
}
.heart {
    background-color: #B4D0E7;
}
.lonely {
    background-color: #0D2481;
}
.clear {
    background-color: #FFD830;
}
/* CTA SECTION */
.blue-left {
    width: 60%;
}
.blue-right {
    width: 40%;
    justify-content: center;
    align-items: center;
}
/* FAQ SECTION*/
.question {
    margin: 1rem 0;
}
.answer {
    display: none;
}
.faq .flex {
    justify-content: space-between;
    align-items: center;
}
/* INTERACTIONS */
.faq li:hover .answer{
    display: inline-block;
    margin: 1rem 0;
}
.faq li:hover hr {
    display: none;
}
i {
    transition: 250ms;
}
.faq li:hover i {
    transform: rotate(180deg);
}


/* !FOOTER */
footer {
    padding-bottom: 60px;
}
/* CONTACT SECTION */
.column-footer {
    width: calc(100% / 5);
    margin: 2rem 0;
}
.contact {
    color: white;
}
.contact a{
    text-decoration: none;
    color: inherit;
}
.contact li{
    margin: .5rem 0;
}
/* LANGUAGE */
.language {
    height: 50px;
    align-items: end;
    border-top: 1px solid white;
    gap: .5rem;
    
}
.fa-chevron-up {
    font-size: .5rem;
    line-height: 13px;
}